*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	/*margin-right: 10px;
	margin-left: 10px;*/
	width: 98%;
	margin: auto;
}
ul{
	background-color: rgb(66,66,66);
	padding: 10px;
}

li{
	display: inline;
	margin-left: 10px;
	padding: 10px;
	color: rgb(155,155,155) ;
}

li:hover{
	background-color: rgb(224,224,224);
}

.carousel{
	width: 100%;
	background-color: rgb(238,238,238);
	height: 200px;
}

h2{
	text-align: center;
	color: rgb(100,100,100);
	margin-bottom: 35px;
	margin-top: 35px;
}

.SectionArticle{

	display: flex;
	justify-content: center;
}

article{	
	background-color: rgb(238,238,238);
	height: 300px;
	width: 30%;
	margin:  0 10px 110px 0;
}

hr{
	border:1px rgb(100,100,100) solid ;
	width: 100%;
	margin-left: 10px;
	margin-right:10px;
}

.h2left{
	text-align: left;
	margin-left: 10px;
	margin-top: 10px;
}

input{
	display: block;
	width: 75%;
	height: 25px;
	margin: auto;
	margin-bottom: 15px;
	border-color: rgb(96,96,96);
}

textarea{
	display: block;
	width: 75%;
	height: 55px;
	margin: auto;
	margin-bottom: 15px;
	border-color: rgb(96,96,96);

}
